<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<policyconfig>
  <vendor>Bony's Agents</vendor>
  <vendor_url>https://github.com/zappotex/BonysAgents</vendor_url>
  <icon_name>network-vpn</icon_name>
  <action id="io.github.bonys-agents.vpn">
    <description>Manage WireGuard tunnels with Bony's VPN</description>
    <description xml:lang="de">WireGuard-Tunnel mit Bony's VPN verwalten</description>
    <message>Authentication is required to manage VPN tunnels.</message>
    <message xml:lang="de">Zum Verwalten der VPN-Tunnel ist eine Anmeldung nötig.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">@HELPER@</annotate>
  </action>
</policyconfig>
